

<div class=" mx-auto text-2xl linktext-lg text-[#f96b03] font-medium decoration-dashed hover:underline mb-4 cursor-pointer hover:text-white">
  
  <a href="https://astro.5xruby.tw/testimony/from-administrative-assistant-to-web-developer/">
    推薦文章 ~~~> 轉職軟體工程師兩個月的心得
  </a>
</div>
